<ul>
    <li>
        <a href="/">Index</a>
    </li>
    <li>
        <a href="/addEtablissement">Ajouter un établissement</a>
    </li>
    <li>
        <a href="/addProfesseur">Ajouter un professeur</a>
    </li>
</ul>