<div *ngIf="form">
  <h2>{{Edit ? 'Modifier l\'établissement' : 'Ajouter un établissement'}}</h2>
  <form [formGroup]="form" (ngSubmit)="submit(form.value, form.valid)">

    <!-- NOM -->
    <label for="name"><u>Nom: </u></label>
    <input type="text" id="name" name="name" formControlName="name" required>

    <!-- TYPE -->
    <label for="type"><u>Type: </u></label>
    <select name="type" id="type" formControlName="type" required>
      <option value="" disabled selected>Selectionner le type</option>>
      <option value="Collège">Collège</option>
      <option value="Lycée">Lycée</option>
    </select>

    <!-- ADRESSE -->
    <label for="adresse">Adresse</label>
    <input type="text" id="adresse" name="adresse" formControlName="adresse" required>

    <!-- CODE POSTAL -->
    <div>
      <label for="cp">Code postal</label>
      <input [ngClass]="cp.valid ? 'validate':''" type="text" id="cp" name="cp" formControlName="cp" required>

      <div *ngIf="cp.invalid && (cp.dirty || cp.touched)" class="alert alert-danger">
        <p *ngIf="cp.errors.required">Champs requis.</p>
        <p *ngIf="!cp.errors.pattern && cp.errors.minlength">Trop court.</p>
        <p *ngIf="!cp.errors.pattern && cp.errors.maxlength">Trop long.</p>
        <p *ngIf="cp.errors.pattern">Mauvais format, le code postal doit être une suite de chiffre.</p>
      </div>
    </div>
    <!-- SUBMIT -->
    <input type="submit" value="{{Edit ? 'Modifer': 'Ajouter' }}" [disabled]="!form.valid">

  </form>
</div>
